@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

html {
    --main--color: #FF900E;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
}

/*================== header section  ===============*/
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 20px 0px;
    margin-bottom: 60px;
}

/*----- navbar part ------*/
.container {
    max-width: 80%;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
}
.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.menu ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/*--------- hero banner part --------*/
.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
}
.hero_content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}
.hero_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.primary_btn {
    background: var(--main--color);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
}

/*==========================*/
main {
    max-width: 80%;
    margin: 0 auto;
}
/*==========================*/

/*========= our features section  ==========*/
.ourFeatures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
    margin-bottom: 100px;
}
.gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.featuresImg {
    display: flex;
    gap: 10px;
}
.featuresImg img {
    max-width: 80%;
}
.ourFeaturesDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.ourFeaturesDetails h2 {
    color: #131313;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}
.gray {
    color: #727272;
}
.orangeColor{
    color: var(--main--color);
}
.ourFeaturesDetails p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/*========= features service section  ==========*/
.features_service {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}
.service_img {
    position: relative;
}

.service_img img {
    height: 100%;
}

.box {
    position: absolute;
    width: 200px;
    height: 100px;
    background: var(--main--color);
    left: -20px;
    bottom: -20px;
    text-align: center;
    color: #FFFFFF;
    /* margin-left: -50px;
    margin-bottom: -20px; */

}
.box h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 70px;
}
.features_service > * {
    flex-basis: 100%;
}

.service_title {
    margin-bottom: 30px;
}
.service_title h2{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;
}
.service_title h2::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 90px;
    left: 0px;
    top: 10px;
   background: var(--main--color);
}
.service_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/*--------------------------*/
.service_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service_item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.service_item h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.service_item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/*========= some fact section   ==========*/
.some_fact_part {
    margin-bottom: 100px;
}
.fact_title {
    width: 542px;
    height: 52px;
    margin-bottom: 150px;
}
.fact_title h4{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.fact_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}
.f_service {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service_box {
    text-align: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service_box img {
    margin-bottom: 10px;
}
.service_box h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}
.service_box p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/*========= our sponsore section  ==========*/
.sponsores {
    margin-bottom: 100px;
}
.sponsore_title {
    width: 542px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
    
}
.sponsore_title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.sponsore_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}
.sponsore_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

/*========= footer  ==========*/
footer {
    background: #FFF4E7;
    border-radius: 8px;
    padding: 40px 0px;
}
footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}


/*========= media query use  ==========*/
@media screen and (max-width: 576px){
    nav {
        flex-direction: column;
        gap: 20px;
    }

    .ourFeatures {
        flex-direction: column;
        gap: 80px;
    }
    .featuresImg {
        flex-direction: column;
    }
    .ourFeaturesDetails {
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .features_service {
        flex-direction: column;
    }

    .fact_title {
        text-align: center;
    }

    .f_service {
        flex-direction: column;
        gap: 14px;
    }
    .sponsore_img {
        flex-direction: column;
        gap: 40px;
    }
}   



